<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.dentalclinicapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_dental_app_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_dental_app_logo_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DentalClinicApp"
        android:usesCleartextTraffic="true">
        <activity android:name=".UserUpdateActivity"></activity>
        <activity android:name=".EditAboutUsActivity" />
        <activity android:name=".EditContactUsActivity" />
        <activity android:name=".AboutUsActivity" />
        <activity android:name=".AdminRegistrationActivity" />
        <activity android:name=".ContactUsActivity" />
        <activity android:name=".AdminProfileActivity" />
        <activity android:name=".AdminHomeActivity" />
        <activity android:name=".AddTreatmentDetailsActivity" />
        <activity android:name=".DoctorAppointmentListActivity" />
        <activity android:name=".AddMedicineActivity" />
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".PatientListActivity" />
        <activity android:name=".DoctorAdminActivity" />
        <activity android:name=".DoctorHomeActivity" />
        <activity android:name=".UserHomeActivity" />
        <activity android:name=".ShowTreatmentActivity" />
        <activity android:name=".UserProfileActivity" />
        <activity android:name=".DoctorServiceActivity" />
        <activity android:name=".ServiceActivity" />
        <activity android:name=".AddAdminActivity" />
        <activity android:name=".MainActivity" />
        <activity android:name=".AddServiceActivity" />
        <activity android:name=".RegistrationActivity" />
    </application>

</manifest>